@import "tailwindcss";

/* 1. This is the magic line for Tailwind v4. 
   It tells Tailwind to activate `dark:` utility classes whenever the `.dark` class is present on a parent element */
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8f9fc;
  --foreground: #171717;
}

.dark {
  --background: #18181b; /* zinc-900 */
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}